$white: #ededed;

$red-400: #FF8787;
$red-500: #FF6B6B;
$red-600: #FA5252;
$red-700: #F03E3E;
$red-800: #E03131;

$green-400: #69DB7C;
$green-500: #51CF66;
$green-600: #40C057;
$green-700: #37B24D;
$green-800: #2F9E44;

$blue-400: #4DABF7;
$blue-500: #339AF0;
$blue-600: #228BE6;
$blue-700: #1C7ED6;
$blue-800: #1971C2;

$orange-400: #FFA94D;
$orange-500: #FF922B;
$orange-600: #FD7E14;
$orange-700: #F76707;
$orange-800: #E8590C;

$dark-000: #C1C2C5;
$dark-100: #A6A7AB;
$dark-200: #909296;
$dark-300: #5C5F66;
$dark-400: #373A40;
$dark-500: #2C2E33;
$dark-600: #25262B;
$dark-700: #1A1B1E;
$dark-800: #141517;
$dark-900: #101113;

$primary: $blue-500;
$secondary: $orange-500;
$success-background: $greeb-400;
$success-primary: $green-700;
$danger-background: $red-400;
$danger-primary: $red-700;
$background: $dark-100;
$background-amoled: $dark-900;
