@use './abstract/colors' as *;

body {
    padding: 0;
    margin: 0;
}

.light {
    .text {
        color: $dark-900;
    }

    .background {
        background-color: $dark-000;
    }

}

.dark {
    .text {
        color: $white;
    }

    .background {
        background-color: $dark-700;
    }
}